# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache

# Apple stuff
.DS_Store
.vercel

# docker tar
microsvc/football-envoy-sidecar/football-envoy-sidecar-1.0.tar
microsvc/mainapp-envoy-sidecar/mainapp-envoy-sidecar-1.0.tar
microsvc/mainapp-flask/livescores-microsvc-1.0.tar

